@import '../../assets/styles/colors';

.buttonIcon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & img {
    height: 19px;
  }
}